.Profile {
  display: flex;
  gap: 1.2rem;
  width: 70%;
  height: 7rem;
  border: 1px solid silver;
  align-items: center;
  justify-content: center;
}

.Profile img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
